%h1
  .pull-left 
    Beers
  
  .pull-right
    = form_tag beers_path, method: :get, class: 'inline' do
      = text_field_tag :query, nil, placeholder: 'Search by beer name or description'
      = submit_tag "SEARCH", class: 'submit'
  .clear

= render 'beers/beers'