form.inline
  
  input
    padding: 0px
    margin: 0px
    border-radius: 6px
    -moz-border-radius: 6px
    -webkit-border-radius: 6px
    border: none
    padding: 5px
    width: 300px
    border: 1px solid whitesmoke
    
    &:focus
      outline: none
      border: 1px solid maroon
  
  input.submit
    width: auto
    padding: 5px 15px
    background-color: whitesmoke
    color: maroon
    cursor: pointer
    
    &:hover
      border: 1px solid maroon
      background-color: maroon
      color: whitesmoke