.tag
  padding: 5px
  margin: 5px  

.tag, circle
  background-color: black
  color: ghostwhite

  &.apple, &.cherry, &.strawberry
    fill: firebrick
    background-color: firebrick

  &.banana, &.creamy, &.dry, &.light, &.vanilla
    fill: khaki
    background-color: khaki
    color: black  

  &.belgian, &.bread, &.bubbly, &.citrus, &.grapefruit, &.orange, &.pineapple, &.tangy, &.wheat
    fill: orange
    background-color: orange
    color: black

  &.bitter
    fill: darkred
    background-color: darkred

  &.blueberry
    fill: blue
    background-color: blue

  &.caramel, &.pumpkin
    fill: darkorange
    background-color: darkorange

  &.chocolate, &.cocoa, &.rye
    fill: chocolate
    background-color: chocolate
  
  &.clean, &.crisp, &.refreshing
    fill: lightcyan
    background-color: lightcyan
    color: black

  &.cloudy, &.hazy
    fill: lightblue
    background-color: lightblue
    color: black

  &.cloves, &.coriander, &.earthy, &.herbal, &.hoppy
    fill: green
    background-color: green

  &.coconut
    fill: white
    background-color: white
    color: black

  &.coffee, &.malty, &.medium, &.nutty, &.oak, &.oatmeal, &.roasted, &.scotch, &.toasted, &.toffee
    fill: brown
    background-color: brown

  &.complex, &.sweet
    fill: darkmagenta
    background-color: darkmagenta
  
  &.dark, &.espresso, &.full, &.smoky
    fill: black
    background-color: black

  &.floral
    fill: salmon
    background-color: salmon
    
  &.fruity, &.raspberry, &.rich
    fill: maroon
    background-color: maroon

  &.honey
    fill: gold
    background-color: gold
    color: black

  &.gluten
    fill: lightgreen
    background-color: lightgreen
    color: black
  
  &.grape
    fill: purple
    background-color: purple
  
  &.lemon
    fill: yellow
    background-color: yellow
    color: black

  &.smooth
    fill: navy
    background-color: navy

  &.sour, &.spicy, &.tart
    background-color: red

text.bubble
  fill: ghostwhite

  &.banana, &.creamy, &.dry, &.light, &.vanilla
    fill: black  

  &.belgian, &.bread, &.bubbly, &.citrus, &.grapefruit, &.orange, &.pineapple, &.tangy, &.wheat
    fill: black
  
  &.clean, &.crisp, &.refreshing
    fill: black

  &.cloudy, &.hazy
    fill: black

  &.coconut
    fill: black

  &.honey
    fill: black

  &.gluten
    fill: black
  
  &.lemon
    fill: black
  